.layout-wrapper{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

.layout-header{
    height: 3rem;
}

.layout-content{
}

.layout-footer{
    height: 1rem;
}
