.editor-page-container{
    height: 100%;
}

.editor-row{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.editor-wrapper{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}
.editor-holder{
    height: 95%;
    width: 98%;
    border: 1px solid black;
    flex-shrink: 1;
}

.editor{
    height: 95%;
    width: 98%;
    border: 1px solid black;
}

.sidebar-wrapper{
    margin-top: 0.8rem;

}

.sidebar{
    margin-top: 0.5rem;
    padding-left: 0;
    height: 95%;
    border: 1px solid black;
    font-size: small;
    padding-top: 1rem;
}

.subaccordion{
    padding: 0;
    padding-left: 1rem;
}

