.editor-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.editor{
    height: 95%;
    width: 95%;
    border: 1px solid black;
}