.landing-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.landing-intro-wrapper{
    padding-left: 15vw;
    padding-right: 15vw;
}

.landing-intro-logo{
    text-align: center;
    margin-bottom: 3rem;
}

.landing-intro-introduction{
    text-align: center;
}

.landing-guide{

}

.landing-guide-items{
    padding: 0rem;
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.guide-item{
    width: 12rem;
    height: 11rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: aliceblue;
}

.guide-item-header{
    margin-left: 1rem;
}

.guide-item-list{
    margin-left: 1rem;
}

.guide-item-list-item{
    margin-bottom: 0.4rem;
}