.resource-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    padding-right: 2vw;
}

.resource-header{
    padding-left: 1rem;
}

.resource-intro{
    padding-left: 2rem;
}

.section-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: space-evenly;
}