.section-wrapper{
    border: 1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 100%;
}

.section-header{
    padding-left: 0.5rem;
}

.section-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 3px;
    padding-bottom: 1rem;
    height: 100%;
    width: 100%;
}

h2{
    margin: 0.5rem;
}

@media only screen and (max-width: 700px){
    .section-content{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 3px;
        padding-bottom: 1rem;
        align-items: center;
    }
    
}